<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    
    <link rel="stylesheet" href="styles.css"> <!-- Optional: Link to your CSS file -->
</head>
<body>

    <div th:replace= "~{/layout :: header}"></div>
        <div class="page">  
            <div class="registerPatientBox">
                <h2 >Scheduled Appointments</h2>
                <table class="styled-table">
                <thead>
                    <tr>
                        <th>Patient First Name</th>
                        <th>Patient Last Name</th>
                        <th>Date</th>
                        <th>Doctor</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="appointment : ${appointments}">
                        <td th:text="${appointment.patientFirstName}">Patient First Name</td>
                        <td th:text="${appointment.patientLastName}">Patient Last Name</td>
                        <td th:text="${appointment.appointmentDate}">Appointment Date</td>
                        <td th:text="${appointment.doctor}">Doctor</td>
                        <td th:text="${appointment.reason}">Reason</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div th:replace= "~{layout :: footer}"></div>
</body>
</html>