<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Invoice</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div th:replace="~{/layout :: header}"></div>
        <div class="page">
            <div class="createInvoiceBox">
                <h2>Create Invoice</h2>
                <form action="#" th:action="@{/invoices}" th:object="${invoice}" method="post">
                    <div>
                        <label for="patientName">Patient Name:</label>
                        <input type="text" id="patientName" th:field="*{patientName}" required/>
                    </div>
                    <div>
                        <label for="amount">Amount:</label>
                        <input type="number" id="amount" th:field="*{amount}" required/>
                    </div>
                    <div>
                        <label for="dateIssued">Date Issued:</label>
                        <input type="date" id="dateIssued" th:field="*{dateIssued}" required/>
                    </div>
                    <div>
                        <label for="status">Status:</label>
                        <select id="status" th:field="*{status}">
                            <option value="PAID">Paid</option>
                            <option value="UNPAID">Unpaid</option>
                            <option value="PENDING">Pending</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit">Create Invoice</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    
</html>