<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:block="${title}">Default Title</title>
    
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
   <div th:replace= "~{layout :: header }"></div>

   

    
    <div class="page">
        <div class="container">
            <div class="dashboard-header">Dashboard</div>
            
            <div class="grid">    
                <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/appointments}">       
                    <div class="card">
                        <div class="card-icon">📅</div>
                        <div class="card-title">Appointments</div>
                    </div>
                </a>
                <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/registerPatient}">
                    <div class="card">
                        <div class="card-icon">📝</div>
                        <div class="card-title">Register Patient</div>
                    </div>
                </a>
                <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/viewPatients}">
                    <div class="card">
                        <div class="card-icon">📝</div>
                        <div class="card-title">View Patients</div>
                    </div>
                </a>
                <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/schedule_appointment}">       
                    <div class="card">
                        <div class="card-icon">📅</div>
                        <div class="card-title">Schedule an Appointment</div>
                    </div>
                </a>
                <div class="card">
                    <div class="card-icon">💳</div>
                    <div class="card-title">Billing</div>
                </div>
                <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/health_records}">
                    <div class="card">
                        <div class="card-icon">📝</div>
                        <div class="card-title">View Health Records</div>
                    </div>
                </a>
                <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/add_health_record}">
                    <div class="card">
                        <div class="card-icon">📝</div>
                        <div class="card-title">Add New Health Record</div>
                    </div>
                </a>            
                <div class="card">
                    <div class="card-icon">⚙️</div>
                    <div class="card-title">Settings</div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace= "~{layout :: footer }"></div>

    
</body>
</html>