<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:block="${title}">Default Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap for styling -->
</head>
<body>
    <div th:fragment="header">
    <header >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">My Application</a>            
        </nav>
    </header>
    </div>
    <div t th:fragment= "alert">
         <!-- Display flash attributes -->
         <div th:if="${message}" class="alert" th:class="${alertClass}">
            <span th:text="${message}"></span>
        </div>
    </div>
    
    <div th:fragment= "footer">
    <footer class="text-center">
        <p>&copy; 2024 My Application. All rights reserved.</p>
    </footer>
    </div>
</body>
</html>