<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:block="${title}">Default Title</title>
     <link rel="stylesheet" href="styles.css"> 
</head>
<body >
    <div th:fragment="header" >
        <header>
            <!-- Button to open a side navigation menu -->
            <button class="openbtn" onclick="openNav()">&#9776;</button>

            <!-- Brand Name -->
            <div class="brand">
                <a class="navbar-brand" th:href= "@{/dash}"><img src="imgs/minilogo.png" alt="Logo"> Lifeline</a>
            </div>

            <!-- Right-aligned content (user profile) -->
            <ul class="navbar-right">
                <!-- Check if user is logged in -->
                <li class="nav-item" th:if="${user != null}">
                    <a class="nav-link" id="userDropdown" onclick="toggleDropdown()" th:text="${user.username}"></a>

                    <!-- Dropdown Menu -->
                    <div class="dropdown-content" id="dropdownMenu">
                        <a class="dropdown-item" th:href="@{/view_profile}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </header>

        <!-- Display flash attributes -->
        <div th:if="${message}" class="alert" th:class="${alertClass}">
            <span th:text="${message}"></span>
        </div>  
        <!-- dashboard -->
        <div  id='mySidebar' class='sidebar'>
            <img id="dashlogo" src="imgs/dashlogo.png" alt="">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        
        
        
            <div th:if="${user != null}">
            
            <a th:href= "@{/dash}">DashBoard</a>
            <a th:href= "@{/viewPatients}">View Patients</a>
            <a th:href= "@{/registerPatient}">Register Patient</a>
            <a th:href= "@{/appointments}">View Appointments</a>
            <a th:href= "@{/schedule_appointment}">Schedule an Appointment</a>                    
            <a th:href= "@{/aboutus}">About-us</a> 
            
            </div>
                
                
            <div th:if="${user == null}">
                <a th:href= "@{/}">Home</a>
                <a th:href= "@{/login}">Login</a>
                <a th:href= "@{/signup}">Sign-up</a>                    
                <a th:href= "@{/aboutus}">About-us</a>     
            </div>               
        </div>     
    </div> 

    
    
    <div th:fragment= "footer" >
            <footer >
                        <h2>&copy; 2024 My Application. All rights reserved.</h2>
                        <!-- Sidebar Script -->
                    <script src="sidebar.js"></script>                                  
            </footer>
    </div>

    

    
</body>
</html>