<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>

    <div th:replace= "~{/layout :: header}"></div>
   
    <div class="container">
        <div class="dashboard-header">Patient Dashboard</div>
        
        <div class="grid">           
            <div class="card"  th:if= "${user.getRole()== 'ADMIN'}">
                <div class="card-icon" >📅</div>
                <div class="card-title">Appointment</div>
            </div>
            <div class="card" th:if= "${user.getRole()== 'ADMIN'}">
                <div class="card-icon">📝</div>
                <div class="card-title">Register Patient</div>
            </div>
            <div class="card">
                <div class="card-icon">💊</div>
                <div class="card-title">Medication</div>
            </div>
            <div class="card">
                <div class="card-icon">🔬</div>
                <div class="card-title">Laboratory Results</div>
            </div>
            <div class="card">
                <div class="card-icon">💳</div>
                <div class="card-title">Billing</div>
            </div>
            <div class="card">
                <div class="card-icon">📧</div>
                <div class="card-title">Messages</div>
            </div>
            <div class="card">
                <div class="card-icon">⚙️</div>
                <div class="card-title">Settings</div>
            </div>
        </div>
    </div>
    <div th:replace= "~{/layout :: footer }"></div>
</body>
</html>