<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div th:replace= "~{layout :: header }"></div>
    <div class="page">
        <div class="profile-info">
            <div class="patient-details">
                <h2>Health Record for <span th:text="${healthRecord.patientFirstName} + ' ' + ${healthRecord.patientLastName}">Patient Name</span></h2>
                <p><strong>Visit Date:</strong> <span th:text="${healthRecord.visitDate}">Visit Date</span></p>
                <p><strong>Diagnosis:</strong> <span th:text="${healthRecord.diagnosis}">Diagnosis</span></p>
                <p><strong>Prescription:</strong> <span th:text="${healthRecord.prescription}">Prescription</span></p>
                <p><strong>Medical History:</strong> <span th:text="${healthRecord.medicalHistory}">Medical History</span></p>
                <a href="/health_records" >Back to Health Records</a>
            </div>
        </div>
    </div>
    <div th:replace= "~{layout :: footer }"></div>
</body>
</html>